header {
		.top-navigation {
			@extend .navbar ;
			// @extend .navbar-light ;
			// @extend .bg-light ;
			@extend .justify-content-between ;
			@extend .fixed-top;

			&.fade-in {
				background: url(./assets/img/Rectangle.png);
			    box-shadow: 0px -1px 20px 0px #06060657;
			    background-position: top left;
				background-size: cover;
				background-repeat: no-repeat;
			}
			
			.main-container {
				padding:0;
				@extend .container-fluid;
				

				.custom-logo-link {
					img {
						width:125px;
						height:auto;

						@include phone {
							width:100%;
						}
					}
				}
				.burger {
					.contact {
						@include phone {
							margin-right:1rem;
							padding-right:2rem;
							padding-left:2rem;
						}
					}
					.ham {
	
					}

				}
			}
		}
	}

	// modal

	.modal {

		&#primary-menu {
			
			.modal-dialog {
				margin:auto;
				max-width:100%;
				height:100vh;
				color:white;
				
				li {
					margin-top:.5em;
					a {
						color:white;
					}
				}
				@include tablet {
					max-width:70%;
					height:90vh;
					padding-top:5%;
				}
				.modal-content {
					height:100%;
					border-radius:0;
					background:rgba(#72a7c2, .95);
					background-size: cover;
			    	box-shadow: 0px -1px 20px 0px #06060657;
			    	background-position: top left;

			    	.modal-header {
						border-bottom:0;
			    		.close {
			    			color:#fff;
			    			font-size:2rem;
			    			span {
			    				// border:1px solid red;
			    				// padding:2em;
			    			}
			    		}
			    	}

			    	.modal-body {
			    		text-align: center;
    					font-size: 1.5rem;
			    	}
				}

			}
		}

	}