.single , .page {
    #content {
        &.site-content {
            padding-top:5em;
            #primary {
                main {
                    @extend .container;
                    article {
                        .entry-header {

                        }

                        @extend .row;
                        
                        border-bottom:1px solid #ccc;
                        padding-bottom:4em;
                        margin-bottom:2em;
                        .entry-header {
                            @extend .col-12;
                            padding-top:2em;
                            padding-bottom:1em;
                            text-align:center;

                            h1 {
                                color:$primary-color;
                            }
                        }
                        .post-thumbnail {
                            display:none;
                            @extend .col-12;
                            // @extend .col-md-4;
                            text-align:center;
                            img {
                                @extend .img-fluid;
                            }
                        }
                        .entry-content {
                            @extend .col-12;
                            @extend .col-md-8;
                            margin:auto;

                            padding-top: 1em;
                            padding-bottom:1em;

                            img {
                                max-width:100%;
                                height:auto;
                            }
                        }

                    }

                    nav {
                        &.post-navigation {
                            @extend .container-fluid;

                            .nav-links {
                                @extend .row;

                                .nav-previous {
                                    @extend .col-6;
                                }

                                .nav-next {
                                    @extend .col-6;
                                    text-align:right;
                                }

                            }
                        }
                    }
                }
            }
            #secondary {
                display:none;
            }

        }
    }

}