$font-family-base :'Source Sans Pro', sans-serif;


$primary-color:#03548D; //blue
$secondary-color:#F5E663; //yellow



$theme-colors: (
  "primary": #03548D,
  "danger": #ff4136,
  "success" : #3DC481
);

// $modal-backdrop-bg:  rgb(3, 49, 61);
$modal-backdrop-bg:  rgba(255, 255, 255, 0.801);
$modal-backdrop-opacity: .9;